// DEMO
.demo {
  font-family: 'Helvetica Neue', 'YuGothic', sans-serif;
  padding: 40px 0;
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  .box {
    height: 60px;
    background: rgba(0, 0, 0, .22);
    margin-bottom: 30px;
  }
}
